.auction_card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0,0,0,0.06);
  transition: .3s;
  position: relative;
}

.auction_card:hover {
  transform: translateY(-5px);
}
.new_auction {
    background-color: rgb(11, 114, 11);
    color: var(--basic-color);
    border-radius: 25px;
    position: absolute;
    left: 10px;
    top: 15px;
    z-index: 9;
    padding: 7px 20px 9px;
    font-size: small;
}
.card_swiper {
  height: 220px;
}

.card_img {
  height: 220px;
  background-size: cover;
  background-position: center;
}

.bid_btn {
  background: var(--sub-color);
  color: var(--basic-color);
  border: none;
  padding: 5px 28px 7px;
  border-radius: 25px;
  margin-top: 10px;
}

.bid_btn:hover {
  opacity: .9;
}
.auction_info {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.auction_info li {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.icon_bg {
  width: 30px;
  height: 30px;
  padding-top: 3px;
  border-radius: 50%;
  background: #eee;
  text-align: center;
  color: var(--main-color);
}
