.auction_details {background-color: var(--basic-color);}
.car_swiper {
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--basic-color);
  position: relative;
  border: 1px solid #eee;
  box-shadow: 0 5px 20px rgba(0,0,0,0.06);
  z-index: 1;
}

.new_auction {
    background-color: rgb(11, 114, 11);
    color: var(--basic-color);
    border-radius: 25px;
    position: absolute;
    left: 10px;
    top: 15px;
    z-index: 9;
    padding: 7px 20px 9px;
    font-size: small;
}
.card_swiper {
  height: 270px;
}
.car_img {
  height: 270px;
  background-size: cover;
  background-position: center;
}
.car_info {
    border-radius: 12px;
    padding: 20px;
  background-color: var(--basic-color);
  border: 1px solid #eee;
  box-shadow: 0 5px 20px rgba(0,0,0,0.06);
  width: 800px;
  max-width: 90%;
  margin: -50px auto 0;
  z-index: 2;
  position: relative;
}
.present_offer {
  color: var(--basic-color);
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--sub-color);
  width: 80%;
  margin: auto;
  display: block;
  border: 1px solid transparent;
  box-shadow: 0 5px 20px rgba(0,0,0,0.06);
}
.accept_offer {
  color: var(--basic-color);
  padding: 10px 20px;
  border-radius: 25px;
  background-color: rgb(29, 135, 29);
  width: 40%;
  margin: auto;
  font-size: small;
  text-align: center;
  display: block;
  border: 1px solid transparent;
  box-shadow: 0 5px 20px rgba(0,0,0,0.06);
}
.sold {
  color: var(--basic-color);
  padding: 10px 20px;
  border-radius: 25px;
  cursor: no-drop;
  background-color: gray;
  width: 40%;
  margin: auto;
  font-size: small;
  display: block;
  border: 1px solid transparent;
  box-shadow: 0 5px 20px rgba(0,0,0,0.06);
}
.offer_card {
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    position: relative;
}
.is_winner {
  position: absolute;
  right: 15px;
  top: -15px;
  background-color: #3fc73f;
  color: var(--basic-color);
  padding: 4px 20px;
  border-radius: 26px;
  font-size: small;
}

.offer_card:has(.is_winner) {border: 2px solid #3fc73f;}

.present_offer_card {
  text-align: center;
  padding: 20px;
  margin: auto;
}
.bid_value_btn {
  background: transparent;
    border: 1px solid #ddd;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.bid_value_btn svg {width: 16px;font-weight: bold;}
.bid_value {border: 1px solid #ddd;}
.increase svg {color: rgb(60, 199, 60);}
.decrease svg {color: rgb(212, 44, 44);}
